---
layout: archive
title: ""
permalink: /teaching/
author_profile: true
---

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->


    <li>CMPSCI 240 Reasoning about Uncertainty</li>
    <ul>
    <li> Most recent: <a href="https://people.cs.umass.edu/~mcgregor/CS240S17/index.html">Spring 2017</a></li>
    <li> Previously: Spring 2010, Fall 2011, Spring 2013, Spring 2014, Spring 2015, Spring 2016
	</ul>
	
	 <li>CMPSCI 311 Algorithms</li>
    <ul>
    <li> Most recent: <a href="https://people.cs.umass.edu/~mcgregor/CS311F16/index.html">Fall 2016</a></li>
	</ul>

	 <li>CMPSCI 514 Algorithms for Data Science</li>
    <ul>
    <li> Most recent: <a href="https://people.cs.umass.edu/~mcgregor/CS514S23/index.html">Spring 2025</a></li>
    <li> Previously: Spring 2021, Fall 2021, Spring 2022, Fall 2022, Spring 2023, Fall 2024.
	</ul>
			
	 <li>CMPSCI 611 Advanced Algorithms</li>
    <ul>
    <li> Most recent: <a href="https://people.cs.umass.edu/~mcgregor/CS611S24/index.html">Spring 2024</a></li>
    <li> Previously: Fall 2009, Fall 2010, Fall 2012, Fall 2015, Fall 2017, Fall 2019, Fall 2020
	</ul>

	
	
	 <li>CMPSCI 711 Data Stream Algorithms</li>
    <ul>
    <li> Most recent: <a href="https://people.cs.umass.edu/~mcgregor/CS711S18/index.html">Spring 2018</a></li>
    <li> Previously: Spring 2009, Spring 2012
	</ul>
		
	<li>CMPSCI 690RA Randomized Algorithms and Probabilistic Data Analysis</li>
    <ul>	
        <li> Most recent: <a href="https://people.cs.umass.edu/~mcgregor/CS690RA20/index.html">Spring 2020</a></li>
